.searcher-form {
  font-family: Montserrat;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.searcher-form h3 {
  margin-bottom: 0px;
  font-weight: 900;
}

.searcher-form p {
  font-size: 14px;
  margin-top: 0px;
  color: grey;
}

.search-header {
  width: 22%;
}

.switch-dark .ant-switch-inner {
  border: 1px solid white;
  background-color: black !important;
}

.switch-light .ant-switch-inner {
  border: 1px solid black;
  background-color: white !important;
}

.switch-light .ant-switch-inner .ant-switch-inner-unchecked {
  color: black;
}
